{% extends "base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Tickets</h1>
    <a href="{% url 'contact' %}">Crear ticket</a>
    <br>

    <table class="table">
      <tbody>
        <tr>
          <th>Tipo</th>
          <th>Prioridad</th>
          <th>URL</th>
            <th>Proyecto</th>
            <th>Fecha</th>
         <!-- <td></td>
          <td></td>
          <td></td>-->
        </tr>
        {% for ticket in object_list %}
        <tr>
          <td>{{ ticket.tipe }}</td>
          <td>{{ ticket.level }}</td>
          <td>{{ ticket.url }}</td>
          <td>{{ ticket.project }}</td>
          <td>{{ ticket.date_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>

{% endblock %}
